.wscroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.photo-options-small{
  position: absolute;
  right: 7px;
  top: 3px;
}
.photo-options-medium{
  position: absolute;
  right: 11px;
  top: 6px;
}
.photo-options-big{
  position: absolute;
  right: 13px;
  top: 10px;
}
.photo-name-small{
  position: absolute;
  left: 5px;
  bottom: 2px;
  font-style: italic;
  font-family: cursive;
  font-size: 12px;
  font-size: 12px;
}
.photo-name-medium{
  position: absolute;
  left: 10px;
  bottom: 4px;
  font-style: italic;
  font-family: cursive;
}
.photo-name-big{
  position: absolute;
  left: 10px;
  bottom: 6px;
  font-style: italic;
  font-family: cursive;
}
/*.photo-contact-small{*/
  /*position: absolute;*/
  /*left: 10px;*/
  /*bottom: -35px;*/
  /*font-style: italic;*/
  /*font-family: cursive;*/
/*}*/
/*.photo-contact-medium{*/
  /*position: absolute;*/
  /*left: 10px;*/
  /*bottom: -35px;*/
  /*font-style: italic;*/
  /*font-family: cursive;*/
/*}*/
/*.photo-contact-big{*/
  /*position: absolute;*/
  /*left: 10px;*/
  /*bottom: -35px;*/
  /*font-style: italic;*/
  /*font-family: cursive;*/
/*}*/
