.wscroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.photo-options{
  position: absolute;
  right: 8px;
}
.photo-name{
  position: absolute;
  left: 10px;
  bottom: -18px;
  font-style: italic;
  font-family: cursive;
}
.photo-contact{
  position: absolute;
  left: 10px;
  bottom: -35px;
  font-style: italic;
  font-family: cursive;
}
