<div id="homeContainer">
  <div class="container homeBackground">
    <div class="row">
      <img [src]="'/assets/img/board_00.jpg'" class="board" >
    </div>
    <div *ngFor="let friend of friedsList">
      <div class="picture-container">
        <img [src]="friend.picture" class="wid-20-per picture-back ">
        <img [src]="'/assets/img/photo_border.png'" class="wid-20-per picture-front">
      </div>
    </div>
    <div class="btn-container">
      <button class="btn btn-primary btn-add-friend" (click)="openAddFriendModal()">Agregar Amigo</button>
    </div>
  </div>
</div>
