<div class="modal-header">
  <h4 class="modal-title">Agregar Amigo</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <img *ngIf="!isLoadImage" [src]="croppedImage || friend.picture || 'assets/img/generic_user.png'" class="avatarImage img-fluid">
    <div *ngIf="isLoadImage" class="col-6 mar-aut">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="128"
        format="png"
        (imageCroppedBase64)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
  </div>
  <div class="row">
    <label class="btn btn-outline-dark" (click)="isLoadImage = !isLoadImage">
      <input type="file" (change)="fileChangeEvent($event)">
      Subir Foto
    </label>
  </div>
  <div class="row">

    <div class="col-12">
      <label class="col-3">Nombre</label>
      <input class="col-9" type="text" [(ngModel)]="friend.name" placeholder="Nombre">
    </div>
    <div class="col-12">
      <label class="col-3">Contacto</label>
      <input class="col-9" type="text" [(ngModel)]="friend.name" placeholder="@">
    </div>
    <div class="col-12">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fas fa-ban"></i>
    </div>
    <!--<div class="col-12">-->
      <!--<label class="col-3">Instagram</label>-->
      <!--<input class="col-9" type="text" [(ngModel)]="friend.instagram" placeholder="Instagram">-->
    <!--</div>-->
    <!--<div class="col-12">-->
      <!--<label class="col-3">Facebook</label>-->
      <!--<input class="col-9" type="text" [(ngModel)]="friend.facebook" placeholder="Facebook">-->
    <!--</div>-->
    <!--<div  class="col-12">-->
      <!--<label class="col-3">Twitter</label>-->
      <!--<input class="col-9" type="text" [(ngModel)]="friend.twitter" placeholder="Twitter">-->
    <!--</div>-->
  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="addFiend()">Agregar</button>
</div>
